
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-position: contain;
    min-height: 100vh;

}
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 70px;
   min-height: 100vh;
   margin-top: 30px;
    
}
.grid{
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.content{
    background-color: white;
    padding-top: 20px;
}
.image{
    height: 100%;
    width: 100%;
}
.content>h2{
    text-align: center;
    margin: 20px auto;
    font-weight: 900;
}
.content>p{
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}
.plan-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    margin: 40px;
    align-items: center;
    border-radius: 15px;
}
 .heading{
    font-weight: 900;
    margin-right: 90px;
    align-items: center;

   
}
.price{
    font-weight: 200;
    color: hsl(224, 23%, 55%);
    align-self: center;
}
.change-link>a{
    color:hsl(245, 75%, 52%) ;
    font-weight: 600;
}
.change-link>a:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    transition: color 1s ease;
}
.btn{
    background-color: hsl(245, 75%, 52%);
    padding: 15px 30px;
    text-align: center;
    width: 82%;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
}
.btn>a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.btn:hover{
    background-color: hsl(224, 23%, 55%);
    transition: color 2s ease;
}
.cancel>a{
    display: flex;
    text-decoration: none;
    margin: 30px auto;
    color:  hsl(224, 23%, 55%);
    justify-content: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.cancel>a:hover{
    color:  hsl(210, 2%, 24%);
    transition: color 1s ease;
}

@media only screen and (max-width:450px){
    
    body{
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .container{
        width: 600px;
    }
    
    
}
